<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xingu.inteceleri.xingu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_app"
        android:label="M-Xingu"
        android:roundIcon="@drawable/ic_logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Apresentacao_activity"
            android:label="@string/title_activity_apresentacao_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login_activity"
            android:label="@string/title_activity_login_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main_activity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity_teste" />
        <activity
            android:name=".Tab_activity"
            android:label="@string/title_activity_tab_activity"
            android:parentActivityName=".Main_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xingu.inteceleri.xingu.Main_activity" />
        </activity>
        <activity
            android:name=".Config_bimestre_activity"
            android:label="@string/title_activity_config_bimestre"
            android:parentActivityName=".Config_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xingu.inteceleri.xingu.Config_activity" />
        </activity>
        <activity android:name=".Config_activity"></activity>
    </application>

</manifest>